# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Secrets
*.pem
*.key
id_rsa
id_rsa.pub
*.pub

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
